{% extends "Doctor/base.html" %}

{% block content %}

<style type="text/css">

    .mainContainer .leftSection .formContainer .container .custyle .table{
      display: block;
        overflow-x: auto;
        white-space: nowrap;

    }

		.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 10px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu ul a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.head{

	overflow: hidden;
	background-color: currentColor;
	//position: fixed;
	width: 100%;
	height: 50px;
	//margin-left: 300px;
}
.header-right{
	float: right;
}
#logoutButton{
  height: 50px;
}
.headDropdown{
	color: #EEE;
    background: transparent;
	width: 152px;
	height: 49px;
}
.headDropdown option {
    margin: 40px;
    background: #2e353d;
    color: #fff;

}
.mainContainer{
  background: transparent;
  
  margin-left: 300px;
}
.leftFormContainer{
  background: ;
  float: left;
  //box-shadow: 0 9px 9px silver;
  margin: 0 auto;
  padding-bottom: 33px;
  padding-top: 5px;
  width: 494px;

}
.formContainer{
  background: ;
  
  //box-shadow: 0 9px 9px silver;
  
  
  width: 533px;

}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    .leftContainer{
      background: transparent;
    }
    .rightSection{
      background: ;
      float: right;
     // width: 564px;
      //height: 366px;
      margin: 0 auto;
      padding: 9px;
    }
    .rightSection .container{
      background: ;
      box-shadow: 0 9px 9px silver;
    }
    //switch start

  

//switch end

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .mainContainer{
    margin-left: 0px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

	</style>

	<link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<link href="font-awesome.min.css" rel="stylesheet">

<div class="pageContainer">
    <div class="head">
  <div class="header-right">

    {% comment %} <select class="headDropdown">
      <a href="#">NNN</a>
    <option><a href="https://www.google.com">Logout</a></option>
    <option>Change Password</option>
  </select> {% endcomment %}
  <a href="{% url 'logout' %}" id="logoutButton" class="btn btn-danger btn-lg">Logout</a>

  </div>
  
</div>
<div class="nav-side-menu">
    <div class="brand">E Prescription</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li class="">
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <a href="#">
                  <li data-toggle="collapse" data-target="#service" class="collapsed active">
                  <i class="fa fa-user fa-lg"></i> Make Prescription 
                </li> 
                </a>
                <a href="{% url 'getSearchPrescriptionPage' %}">
                  <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <i class="fa fa-user fa-lg"></i> Search Prescription 
                </li> 
                </a>
                  
               
                 
            </ul>
     </div>
</div>

<div class="mainContainer">
  
  <div class="leftSection" style="background: ;">
      <div class="leftFormContainer" style="background:;">
                <div class="leftContainer" style="background: ;">


                    <form class="form-horizontal" id="form" role="form" style="background:;">
                        <h4 style="margin-left: 0px;">Make Prescription</h4>
                        <br>


                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="patientPhoneNumber" class=" control-label">Phone Number*</label>
                                        <input type="text" id="patientPhoneNumber" placeholder="Phone Number" class="form-control" autofocus autocomplete="off" list="patientPhoneNumberList">
                                        <datalist id="patientPhoneNumberList"></datalist>
                                    </div>
                                    <div class="col-sm-7">
                                        <label for="patientName" class=" control-label">Patient Name*</label>
                                        <input type="text" id="patientName" placeholder="Name" class="form-control" autofocus autocomplete="off" list="patientNameList">
                                        <datalist list id="patientNameList"></datalist>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="patientDateOfBirth" class=" control-label">Date of Birth*</label>
                                        <input type="date" id="patientDateOfBirthInput" placeholder="DBO" class="form-control" autofocus autocomplete="off">
                                    </div>
                                    <div class="col-sm-5">

                                        <label for="name" class=" control-label">Blood Grpup*</label>
                                        <select class="form-control" id="patientBloodGroupDrop">
                                            <option value="null">
                                              --select one--
                                            </option>
                                            {% for bloodGroup in patientBloodGroup%}
                                            <option value="{{bloodGroup.patientBloodGroupId}}">
                                              {{bloodGroup.patientBloodGroupName}}
                                            </option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group sexRadioGroup">
                            <label for="sex" class="col-sm-5 control-label">Sex* </label>
                            <div class="col-sm-8 form-control">
                              {%for patientSex in patientSexes%}
                                {{patientSex.patientSexName}} <input type="radio" id="{{patientSex.patientSexId}}" name="sex" value="{{patientSex.patientSexId}}">
                              {%endfor%}
                                
                            </div>
                        </div>
                        <hr>

                        <div class="form-group" style="background: ;">
                          

                            <div class="col-sm-12" >
                              <h5>Add Medicien</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="name" class=" control-label">Madicien Type*</label>
                                        <select class="form-control" id="medicineTypeDrop">
                                            <option value="null">
                                              --select one--
                                            </option>
                                            
                                            {% for medicineType in medicineTypes %}
                                            
                                            <option value="{{medicineType.medicineTypeId}}">{{medicineType.medicineTypeName}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="name" class=" control-label">Company*</label>
                                        <select class="form-control" id="medicineCompanyDrop">
                                            <option value="null">
                                              --select one--
                                            </option>
                                            {% for company in companys %}
                                                <option value="{{company.companyId}}">{{company.name}}</option>

                                            {% endfor%}
                                            
                    </select>
                                    </div>
                                    <div class="col-sm-4">

                                        <label for="name" class=" control-label">Medicine*</label>
                                        <select class="form-control" id="medicineDrop" name="null">
                                            <option value="null">
                                              --select one--
                                            </option>
                                            
                                            {% for medicine in medicines %}
                                                <option value="{{medicine.medicineId}}">{{medicine.medicineName}}</option>

                                            {% endfor%}
                                            
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4" style="background: ;">
                                        <label for="name" class=" control-label">Frequancy*</label>
                                        <div class="col-sm-10 form-control" style="background: ;">
                                           <input type="checkbox" id="frequencyMorningCheck" name="frequencyCheck"> Morning<br>
                                            <input type="checkbox" id="frequencyNoonCheck" name="frequencyCheck"> Noon<br>
                                             <input type="checkbox" id="frequencyNightCheck" name="frequencyCheck"> Night
                                       </div>
                                    </div>
                                    <div class="col-sm-4" style="background: ;">

                                        <label for="medicineDuration" class=" control-label">Duration*</label>
                                        <input type="number" id="medicineDurationInput" placeholder="Days" class="form-control" autofocus>
                                        <label for="medicineQuantity" class=" control-label">Quantity*</label>
                                        <input type="number" id="medicineQuantityInput" placeholder="pic/ml" class="form-control" autofocus>
                                    </div>
                                    <div class="col-sm-4" style="background: ;">

                                        
                                        <input type="button" id="addMedicine" value="Add" class="btn btn-info btn-block">
                                    </div>

                                    

                                </div>
                            </div>
                        </div>
                        
                        
                    </form>
                    <!-- /form -->
                </div>
                <!-- ./container -->

                
            </div> <!-- formContainer -->
      
  </div>
  <div class="rightSection">
      
<div class="formContainer">
    
      <div class="container">
    <div class="row col-md-12 col-md-offset-5 custyle">
    <table class="table table-striped custab" id="prescriptionMedicienListTable" >
    <thead>
   
    <h4>Medicine List</h4>
    
    
        <tr>
            <th>Medicine</th>
            <th>Frequancy</th>
            <th>Duration</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            
            {% comment %} <tr>
                <td>Y</td>
                <td>Pain Killer</td>
                <td>Liquid</td>
                <td class="text-center">
                  
                  <a class='btn btn-info btn-sm' href="#"><span class="glyphicon glyphicon-edit"></span> Delete</a>
                </td>
            </tr>{% endcomment %}
          
    </table>
    </div>
</div>
</div>
      
        <input type="button" class="btn btn-primary btn-block" id="makePrescriptionButton" value="Make Prescription">
        
       
</div><!-- rightSection -->

  </div>
  

</div>
 </div>

 <script>

      //global variable for patient info
      var patientPhoneNumber;
      var patientName;
      var patientSexId;
      var patientBloodGroupId;
      var patientDateOfBirth;
      //var patientIsOld;
      //var patientId;

      //variable for medicine search
      var medicineTypeDropCurrentVal="null";
      var medicineCompanyDropCurrentVal="null";

      //object to store addedMedicine information
      var addedMedicineObject={
        medicineId:null,
        medicineFrequency:null,
        medicineDuretion:null,
        medicineTakenQuantity:"0",
        medicineFrequancyQuantity:null,
        medicineTotalQuantity:null
      }

      //class to store addedmedicien
      class AddedMedicinesClass{
        constructor(medicineId,medicineFrequency,medicineDuretion,medicineTakenQuantity,medicineFrequancyQuantity,medicineTotalQuantity){
          this.medicineId=medicineId;
          this.medicineFrequency=medicineFrequency;
          this.medicineDuretion=medicineDuretion;
          this.medicineTakenQuantity=medicineTakenQuantity;
          this.medicineFrequancyQuantity=medicineFrequancyQuantity;
          this.medicineTotalQuantity=medicineTotalQuantity;
        }
      }
      //array to hold the addedMedicineObject
      var addedMedicinesArray = new Array();

      //array to hold the addedMedicineClassObject
      var addedMedicinesClassArray = new Array();


      //function return all medicine
      function getAllMedicine(){
        //console.log("getAllMedicine");
        var medicines;
        $.ajax({
            url: "getMedicine",
            async: false,
            type: "GET",
            success: function(data){
              
              medicines=JSON.parse(data.medicines);
              
              
              
            }
          });
          
          return medicines;
      }
      
      //add json data in medicineDrop
      function addMedicineInMedicineDrop(medicines){
        for( medicine in medicines) console.log(medicines[medicine].pk)
        //console.log("addMedicineInMedicineDrop");
        //console.log(medicines);
        $("#medicineDrop").empty()
        for( medicine in medicines){
           $("#medicineDrop").append("<option name='"+medicines[medicine].fields.medicineName+"' value='"+medicines[medicine].pk+"'>"+medicines[medicine].fields.medicineName+"</option>")
        }

      }

      //get MedicineOn company and type
      function getMedicineOnCompanyAndType(){
        var medicines;
        $.ajax({
            url: "getMedicineOnCompanyAndType",
            async: false,
            type: "GET",
            data: {
              medicineCompanyId: medicineCompanyDropCurrentVal,
              medicineTypeId: medicineTypeDropCurrentVal
              
            },
            success: function(data){
             medicines=JSON.parse(data.medicines);
             
              
            }
          });
          
          
          return medicines;
      }

      //add medicine in prescription
      function addMedicineOnPrescription(prescriptionId,prescribedMedicineFrequancy,prescribedMedicineFrequancyQuantity,prescribedMedicineDuration,medicineId,prescribedMedicineQuantity,prescribedMedicineTakenQuantity){
        var success=false;
        $.ajax({
          url:"addMedicineOnPrescription",
          type: "POST",
          async: false,
          data:{
            prescriptionId:prescriptionId,
            prescribedMedicineFrequancy:prescribedMedicineFrequancy,
            prescribedMedicineFrequancyQuantity:prescribedMedicineFrequancyQuantity,
            prescribedMedicineDuration:prescribedMedicineDuration,
            medicineId:medicineId,
            prescribedMedicineQuantity:prescribedMedicineQuantity,
            prescribedMedicineTakenQuantity:prescribedMedicineTakenQuantity,
            csrfmiddlewaretoken: '{{ csrf_token }}'

          },
          success: function(data){
            (data=="added")? success=true: success=false;
          }

        });
        return success;
      }

      
      $("document").ready(function(){
        // add medicine in medicineDrop
        addMedicineInMedicineDrop(getAllMedicine());

        //get data for patient phone number field
          $.ajax({
            url: "getPatientPhoneNumber",
            type: "GET",
            success: function(data){
              var patientPhoneNumber=JSON.parse(data.patientPhoneNumber);
              for(key in patientPhoneNumber)   
              {
                  $("#patientPhoneNumberList").append("<option  value='"+patientPhoneNumber[key].fields.patientPhoneNumber+"'>")              
              }
              
            }
          });    
      });
      {% comment %} $("#patientPhoneNumber").blur(function(){
        //$("#registerButton").val("cle")
          var phoneNumber=$("#patientPhoneNumber").val()
          if(phoneNumber.localeCompare("")!=0){
              $.ajax({
            
            url: "getPatientsNameOnPhoneNumber",
            type: "GET",
            data: {
              patientPhoneNumber: phoneNumber
            },
            success: function(data){
              $("#patientNameList").empty()
                var patientName=JSON.parse(data.patientName);
                for(key in patientName)   
                {
                    $("#patientNameList").append("<option value='"+patientName[key].fields.patientName+"'>")
                   
                }
            }
          });
          }
          else{
            $("#patientNameList").empty()
          }
          
      });{% endcomment %}
      
      $('input:radio').on('change', function(){
        
        patientSexId=$(this).val()
        console.log(patientSexId)
        //$("#registerButton").val(patientSexId)
      });

      //on change for bloodGroup drop 
        
      $('#patientBloodGroupDrop').on('change', function(){
        
        patientBloodGropu=$(this).val()
        patientBloodGroupId=patientBloodGropu;
        console.log(patientBloodGroupId)
      });

      $('#patientDateOfBirthInput').on('change', function(){
        
        dateOfBirth=$(this).val()
        
        patientDateOfBirth=dateOfBirth;
        
        console.log(patientDateOfBirth)
      });

      $('#patientName').on('input', function() {
            var phone = $("#patientPhoneNumber").val();
            var name = $("#patientName").val();
            patientName=name;
            //alert(val);

          var opts = $("#patientNameList").children();
          for (var i = 0; i < opts.length; i++) {
            //alert(opts[i].value);
            if (opts[i].value === name) {
              //alert(opts[i].value);
              $.ajax({
                url: "getPatientOnNameAndPhoneNumber",
                type: "GET",
                data: {
                    patientName: name,
                    patientPhoneNumber: phone
                },
                success: function(data){
                    var patient=JSON.parse(data.patient);
                    //alert(patient);
                    for(pa in patient)
                    patientDateOfBirth=patient[pa].fields.patientDateOfBirth
                    patientSexId=patient[pa].fields.patientSex
                    patientBloodGroupId=patient[pa].fields.patientBloodGroup

                    $("#patientDateOfBirthInput").val(patientDateOfBirth)
                     $("#patientBloodGroupDrop").val(patientBloodGroupId).trigger('change');
                     $("#"+patientSexId+"").attr('checked', 'checked');


                    console.log(patientDateOfBirth)
                    console.log(patientSexId)
                    console.log(patientBloodGroupId)

                    
                }
              });
              
              break;
            }
            else{
              $("#patientDateOfBirthInput").val("")
            }
            
          }
        
      });

      //patient phone on input methode
       $('#patientPhoneNumber').on('input', function() {
            var phoneNumber = $("#patientPhoneNumber").val();
            patientPhoneNumber=phoneNumber;
            
            //alert(val);

          var opts = $("#patientPhoneNumberList").children();
          for (var i = 0; i < opts.length; i++) {
            //alert(opts[i].value);
            if (opts[i].value === phoneNumber) {
              //alert(opts[i].value);
                  $.ajax({
                
                      url: "getPatientsNameOnPhoneNumber",
                      type: "GET",
                      data: {
                        patientPhoneNumber: phoneNumber
                      },
                      success: function(data){
                        $("#patientNameList").empty()
                          var patientName=JSON.parse(data.patientName);
                          for(key in patientName)   
                          {
                              $("#patientNameList").append("<option value='"+patientName[key].fields.patientName+"'>")
                            
                          }
                      }
                  });
              
              break;
            }
            else{
              $("#patientDateOfBirthInput").val("")
              $("#patientName").val("")
              $("#patientNameList").empty()
            }
            
          }
        
      });
      $("#medicineTypeDrop").on('change',function(){

        var typeId= $(this).val()
        medicineTypeDropCurrentVal=typeId;
        if(medicineCompanyDropCurrentVal!="null"){
          addMedicineInMedicineDrop(getMedicineOnCompanyAndType());
        }
        else{
          $.ajax({
              url: "getMedicineOnType",
              type: "GET",
              data: {
                medicineTypeId: typeId
              },
              success: function(data){
                  var medicineList= JSON.parse(data.medicine)
                  addMedicineInMedicineDrop(medicineList);
              }
          });
        }
          
      });
      $("#medicineCompanyDrop").on('change',function(){
        var companyId= $(this).val()
        medicineCompanyDropCurrentVal=companyId;
        if(medicineTypeDropCurrentVal!="null"){
          
            addMedicineInMedicineDrop(getMedicineOnCompanyAndType());
        }
        else{
          $.ajax({
              url: "getMedicineOnCompany",
              type: "GET",
              data: {
                medicineCompanyId: companyId
              },
              success: function(data){
                  var medicineList= JSON.parse(data.medicine)
                  addMedicineInMedicineDrop(medicineList);
              }
          });
        }
          
      });

      $("#addMedicine").click(function(){
        // get selected medicine id from drop options value
        var medicineId=$("#medicineDrop").val()
       
        
        //get selected medicine name from drop options
        var e = document.getElementById("medicineDrop");
        var medicineName = e.options[e.selectedIndex].text;

        console.log("name: "+medicineName)
        var frequency;
        var frequencyMorning=$("#frequencyMorningCheck").prop('checked') ? 1:0;
        var frequencyNoon=$("#frequencyNoonCheck").prop('checked') ? 1:0;
        var frequencyNight=$("#frequencyNightCheck").prop('checked') ? 1:0;
        frequency=frequencyMorning+"-"+frequencyNoon+"-"+frequencyNight;
        console.log(frequency)
        var duration=$("#medicineDurationInput").val()
        var frequancyQuantity=$("#medicineQuantityInput").val()
        var totalQuantity=Number(duration)*(frequencyMorning*Number(frequancyQuantity)+frequencyNoon*Number(frequancyQuantity)+frequencyNight*Number(frequancyQuantity)) ;
        //console.log(totalQuantity)

        //addedMedicineObject["medicineId"]=medicineId;
        //addedMedicineObject["medicineFrequency"]=frequency;
        //addedMedicineObject["medicineDuretion"]=duration;
        //addedMedicineObject["medicineTakenQuantity"]="0";
        //addedMedicineObject["medicineFrequancyQuantity"]=frequancyQuantity;
        //addedMedicineObject["medicineTotalQuantity"]=totalQuantity;

        addedMedicineClassObject=new AddedMedicinesClass(medicineId,frequency,duration,"0",frequancyQuantity,totalQuantity);
        addedMedicinesClassArray.push(addedMedicineClassObject);
        
        //addedMedicinesArray.push(addedMedicineObject)
        //console.log("id"+addedMedicinesArray[0]["medicineId"])
        $("#prescriptionMedicienListTable").append("<tr><td>"+medicineName+"</td><td>"+frequency+"</td><td>"+duration+"</td><td class='text-center'><button value='"+medicineId+"' class='btn btn-info btn-sm'> Delete</button></td></tr>");
        
      
      });

      //make prescription button submit
      $("#makePrescriptionButton").click(function(){
        console.log("mekePres")
        console.log(patientPhoneNumber)
        console.log(patientName)
        console.log(patientBloodGroupId)
        console.log(patientDateOfBirth)
        console.log(patientSexId)

        $.ajax({
          url:"makePrescription",
          type: "POST",
          data: {
            patientPhoneNumber: patientPhoneNumber,
            patientName: patientName,
            patientBloodGroupId: patientBloodGroupId,
            patientDateOfBirth: patientDateOfBirth,
            patientSexId: patientSexId,
            medicines: addedMedicinesArray,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            var priscriptions=JSON.parse(data.priscriptions)
            var prescriptionId=null;
            for(prescription in priscriptions)
            prescriptionId=priscriptions[prescription].pk
            var medicineAddedComplete=true;
            for(medicine in addedMedicinesClassArray){
                console.log(addedMedicinesClassArray[medicine].medicineId)

                var success=addMedicineOnPrescription(prescriptionId,addedMedicinesClassArray[medicine].medicineFrequency,addedMedicinesClassArray[medicine].medicineFrequancyQuantity,addedMedicinesClassArray[medicine].medicineDuretion,addedMedicinesClassArray[medicine].medicineId,addedMedicinesClassArray[medicine].medicineTotalQuantity,addedMedicinesClassArray[medicine].medicineTakenQuantity);
                (success==false)? medicineAddedComplete=false: null;
            }
            (medicineAddedComplete)? location.reload(): null;

          }
          
        });

      });
      
 </script>


 {% endblock content %}
    
